.card {
  border-radius: 5px;
  height: 300px;
  margin: auto;
  width: 550px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  border-color:#40676E !important;
}
.card:hover {
  background: #F3EFE0;
  -webkit-animation: pulse .5s;
  animation: pulse .5s;
}
/* .card > .img-container:hover {
  background: rgb(154, 173, 143);
} */
.card > .img-container {
  display: flex;
  height: 100%;
  overflow: hidden;
  text-align: center;
  /* background: linear-gradient(270deg, #ffdea9, #647a93);
  background-size: 400% 400%;
  border-radius: 2px;
  border-color: rgb(0, 0, 0); */
  
	-webkit-animation: shimmer 30s ease infinite;
	-moz-animation: shimmer 30s ease infinite;
	animation: shimmer 30s ease infinite;
}
h1 {
  margin: auto; 
}
	@-webkit-keyframes shimmer {
		 0%{background-position:0% 50%}
		 50%{background-position:100% 50%}
		 100%{background-position:0% 50%}
	}
	@-moz-keyframes shimmer {
		 0%{background-position:0% 50%}
		 50%{background-position:100% 50%}
		 100%{background-position:0% 50%}
	}
	@keyframes shimmer { 
		 0%{background-position:0% 50%}
		 50%{background-position:100% 50%}
		 100%{background-position:0% 50%}
}
.card > .img-container > img {
  width: 85%;
  height: 100%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

button {
  margin: 10px;
  cursor: pointer;
}
