body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #BFCAE0;
  /* background-color: #B5BEC3; */
  
}

.container-fluid {
  padding: 0;
}

.createIntro {
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #40676E;
}
.col-cardsets {
  align-content: center;
}

.storedQuestion,
.storedAnswer {
  font-family: "Merriweather", serif;
  border-bottom-style: solid;
}
.cardSetQ {
  width: 48%;
  float: left;
}
.cardSetA {
  width: 48%;
  margin: 0;
  float: right;
}
/* .description {
  display: inline block;
} */
.addToSet {
  font-size: 28px;
  color: #76A8BC;
  margin-top: 5px;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  text-shadow:
		-1px -1px 0 #40676E,
		1px -1px 0 #40676E,
		-1px 1px 0 #40676E,
		1px 1px 0 #40676E;
}

.headerTerm, .headerDefinition {
  font-size: 12px;
  color: #40676E;
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: .5px;
  font-family: 'Fjalla One', sans-serif;
}

.col-md-12 {
  padding: 0;
}
.col-sm-12 {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.form-group {
  width: 40%;
  margin: 0 auto;
  margin-top: 7px;
}

.col-xs-8 {
  width: 350px;
  margin: 0 auto;
  margin-top: 7px;
  text-align: center;
}

.save-btn {
  margin: 0 auto;
}

.list-group {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.list-group-item {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

/* landing page */
.registrationLink {
  position: relative;
  top: 220px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-size: 20px;
  width: 180px;
  margin: 0 auto;
  padding: 10px;
  color: #BFCAE0;
  background-color: #76A8BC;
  letter-spacing: 1px;
  text-shadow:
		-1px -1px 0 #40676E,
		1px -1px 0 #40676E,
		-1px 1px 0 #40676E,
		1px 1px 0 #40676E;
}
.sbDescription {
  width: 40%;
  float: right;
  margin-right: 5%;
  margin-bottom: 200px;
  margin-top: 2%;
  font-weight: bold;
  color: #40676E;
  /* letter-spacing: 1px; */
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
.exampleCard {
  margin-left: 5%;
  float: left;
}
.whyStudy {
  font-size: 36px;
  margin-bottom: 10px;
  color: #76A8BC;
  font-weight: bold !important;
  border-bottom: solid;
  padding-bottom: 7px;
  width: 48%;
  margin-left: 0;
  letter-spacing: 2px;
  text-shadow:
		-1px -1px 0 #40676E,
		1px -1px 0 #40676E,
		-1px 1px 0 #40676E,
		1px 1px 0 #40676E;
}
/* navbar */

a { 
  color: #40676E;
  font-family: 'Merriweather', serif;
}
a:hover {
  color: #40676E;
  text-decoration: none;
}

/* login & logout button */
#loginButton {
  background-color: #BFCAE0;
  border-style: solid;
  border-radius: 5px;
  border-color: #40676E;
  border-width: 1px;
  color: #40676E;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 16px;
}
#loginButton:hover {
  background-color: #40676E;
  border-style: solid;
  border-radius: 5px;
  border-color: #40676E;
  border-width: 1px;
  color: #BFCAE0;
  cursor: pointer;
}
#btn-primary {
  background-color: #BFCAE0 !important;
  border-style: solid;
  border-radius: 5px;
  border-color: #40676E !important;
  border-width: 1px;
  color: #40676E;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 16px;
}
#btn-primary:hover {
  background-color: #40676E;
  border-style: solid;
  border-radius: 5px;
  border-color: #40676E;
  border-width: 1px;
  color: #BFCAE0;
  cursor: pointer;
}

/* quiz card area */
.img-container {
  height: 500px !important;
  background-color: #FFFFFF;
  border-color:#40676E !important;
}
.cardText {
  padding: 10px;
  font-size: 28px;
  color:#40676E !important;
  background-color: #FFFFFF;
  height: 295px;
  width: 550px;
  padding-top: 15%;
}

.answerInput {
  border-style: solid;
  font-family: 'PT Serif', serif;
  border-style: solid;
  border-radius: 5px;
  border-color: #40676E;
  border-width: 1px;
  padding-left: 10px !important;
  margin: 0 auto;
  display: block;
  width: 550px;
  height: 40px;
  font-size: 20px;
}

.scoreBoard {
  border-style: solid;
  border-radius: 5px;
  border-color: #76A8BC;
  background-color: #76A8BC;
  color: #40676E;
  border-width: 2px;
  width: 550px;
  margin: 0 auto;
  margin-top: 10px;
}

.navbar {
  font-family: 'Merriweather', serif !important;
  font-size: 20px;
}

/* 404 Page */
.page404 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Merriweather', serif !important;
  font-size: 60px;
  margin-top: 20%;
  color: #40676E;
}

/* registration page */
.registerTitle {
  margin: 0 auto;
  text-align: center;
  font-family: 'Merriweather', serif !important;
  font-size: 60px;
  color: #40676E;
}

.regComplete {
  font-family: 'Merriweather', serif !important;
  font-size: 20px;
  color: #40676E;
  margin-top: 20px;
  margin-bottom: 10px;
}

.regHomebtn {
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Merriweather', serif !important;
  font-size: 16px !important;
  color: #40676E;
  border-style: solid !important;
  border-radius: 5px;
  border-color: #40676E;
  border-width: 1px;
}

.regHomebtn:hover {
  background-color: #40676E;
  border-color: #BFCAE0;
  color: #BFCAE0;
} 
