.delete-btn {
  /* margin:0 auto;
  display:block; */
  position: absolute;
  top: 5px;
  right: 10px;
  margin-top: 5px;
  color: #e74944;
  padding: 0;
  border-style: solid;
  border-color: #e74944 !important;
  width: 75px;
}
.delete-btn:hover {
  color: white;
  background-color: #e74944;
}

p {
  margin-bottom: 0;
}
